// {
//     "presets": [
//         "@babel/preset-env",
//         "@babel/preset-react"
//     ],
//     // "plugins" : [
//     //     "@babel/plugin-proposal-class-properties"
//     // ]
// }

{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "11"
                },
                "useBuiltIns": "usage",
                "corejs": 3,
                "debug": false
            }
        ],
        [
            "@babel/preset-react",
            {
                 "targets": {
                    "ie": "11"
                },
                "useBuiltIns": true,
                "debug": false
            }
        ]
    ],

    "plugins" : [
        "@babel/plugin-proposal-class-properties"
    ]
}